/* Theeme Toggles */
.light{
  background-color: rgb(235, 235, 235);
  color: black;
  height: 8vh;
  justify-self: center;
  margin: auto;
  padding-top: 2vh;}
.dark{
  background-color: black;
  color: white;
  height: 8vh;
  justify-self: center;
  margin: auto;
  padding-top: 2vh;
}
/* Theme Toggles END */


.App {
  text-align: center;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
