/* .App {
  text-align: center;
} */
.App > div{
  border: 1px solid green;
  display: flex;
  padding: 10px;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
#links{
  display: flex;
  /* gap: 30px; */
  /* margin-left: -380px; */
  /* border: 1px solid green; */
  width: 33%;
  justify-content: space-around;

}
#links>p{
  color: white;
}
#imglogo{
  /* border: 1px solid green; */
  width: 10%;
}
#imglogo img{
  display: block;
  width: 100%;
  /* border: 1px solid white; */
}
#btn{
  display: block;
  /* border: 1px solid red; */
  padding: 8px 18px 8px 18px;
  border-radius: 17px;
  border-color: transparent;
  background-color: teal;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}